<h2 class="ui center aligned header">Admin Lounge</h2>

<div class="hero-container">
  <div class="hero">
    <h3>Welcome to Met Trackify's Admin Lounge.</h3>  
  </div> 
  <div class="hero">
    <h3>Admin Links</h3>
    <ul>
      <li>Links will go here. Soon.</li>
    </ul>
  </div> 
</div>


  