<h2 class="ui center aligned header">Admin Lounge</h2>

<div class="hero-container">
  <div class="hero">
    <h3 class="ui black header">Welcome to Met Trackify's Admin Lounge.</h3>  
  </div> 
  <div class="hero">
    <h3 class="ui black header">
      Admin Links:
      <%= link_to semantic_icon("user") + "Users", admin_users_path, class: "ui black header" %>
    </h3>
  </div> 
</div>


  