<h2 class="ui center aligned header">List of Projects</h2>

<%= link_to semantic_icon("plus") + "Add New Project", 
    new_admin_project_path, class: "ui orange button" %>

<table class="ui five column selectable inverted table index">
  <thead>
    <tr>
      <th>Project Number</th>
      <th>Project Name</th>
      <th>Project Time</th>     
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.project_number, project %></td>
        <td><%= project.project_name %></td>
        <td><%= project.project_time %></td>        
      </tr>
    <% end %>
  </tbody> 
</table>