// Place all the styles related to the admin/application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero-container {
  color: #FFF;
  background-color: #F2711C;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.hero {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}