<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">          
    <div class="ui horizontal inverted small divided link list">
      <p class="item">Developed with <%= semantic_icon('heart')%>by Tim Fleming</p>
      <p class="item">aka: The GREAT One</p>
      <a class="item" href="https://icons8.com">Favicon by Icons8</a>
      <p class="item">Met Trackify &copy; 2020</p>        
    </div>
  </div>
</div>  