<div class="ui sidebar inverted vertical menu">
    <a class="item">Home</a>
    <a class="item">Login</a>
    <a class="item">Sign Up</a>
</div>    
    
<div class="ui fixed inverted menu">      
  <a class="item sidebar">              
   <i class="icon sidebar"></i>
    <h6>Menu</h6>
  </a>    
  <a href="#" class="header item">
    <h1>Met Trackify</h1>
  </a>
  <a class="item">Login</a>    
</div>              
      
<!--<div class="ui simple dropdown item">
    Dropdown <i class="dropdown icon"></i>
     <div class="menu">
       <a class="item" href="#">Link Item</a>
       <a class="item" href="#">Link Item</a>          
     </div>
</div-->   